html, body{
   height: 100%; 
}
body{
    color: #6c7e86;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}

p{
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
section{
    background: #fff;
    overflow: hidden;
}
.navbar{
    padding: 0 0;
    transition: all 500ms linear;
    }
ul.navbar-nav  li a{
    font-family: sans-serif;
    color: #fff;
    background:;

}
ul.navbar-nav li a:hover{
    color:blue;
    background: #fff;
}
.white-nav-top ul.navbar-nav li a:hover,
.white-nav-top ul.navbar-nav li a:focus{
    color: #ffae2c;
}
.white-nav-top ul.navbar-nav li a.active{
     color: blue;
}
.navbar-nav{
  margin-left: auto;
} 
.navbar{
    padding: 0 0;
    transition: all 500ms linear;
}
ul.navbar-nav  li a{
    font-family: sans-serif;
    color: #fff;
}
ul.navbar-nav li a:hover{
    color:blue;
}
.white-nav-top {
    background-color: rgba(0,0,0,0.1);
}
.white-nav-top ul.navbar-nav li a:hover,
.white-nav-top ul.navbar-nav li a:focus{
    color: #ffae2c;
}
.white-nav-top ul.navbar-nav li a.active{
     color: blue;
}
.navbar-nav{
  margin-left: auto;
} 

#pre-loader{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}
#pre-loader_status{
    background-image: url("images/1488.gif");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    
}  

#home{
    background: none;
    height: 100%;
}
#home-bg-poster{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -2;   
}
#home-overlay{
    background-color: rgba(0,0,0, .3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
}
#home-content{
    width: 100%;
    height: 65%;
    display: table;
}
#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
#home1{
    color: #fff;
    font-family: sans-serif;
    font-size: 100px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
   background: none;
    animation: text 3s 1;
    margin: 0;
}
#home2 span{
    color: blue;
    font-weight: 300;
    font-size: 35px;
}
@keyframes text{
    0%{
        color: rgba(0,0,0,0.1);
        margin-bottom: -45px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -55px;
    }
    85%{
        letter-spacing: 8px;
           margin-bottom: -55px; 
    }
}

#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 15px;
    color: #fff;
    font-size: 35px;
    margin-left: -15px;
     
    
}
#arrow-down:hover,
#arrow-down:focus
{
   color: black;
 font-size: 45px;
}

   
/*   About us            */

.content-box-lg{
    padding: 100px 0;
}
.horizontal-heading h5{
    font-size: 35px;
    color: #ffae2c;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 10px;
    display: inline-block;
}
.horizontal-heading h2{
    font-size: 35px;
    color: blue;
    word-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;


}
.horizontal-heading p{
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    text-align: justify;
}
#about-right img{
    margin-right: 800px;
    border-radius: 85px;
    width: 710px;        
    box-shadow: 200px;
    
    
}
#about-02{
    background-color: antiquewhite;
    width: 100%;
    height: 65%;
    padding: 50px;
    
    
}
.about-item{
    background-color: #fff;
     margin: 39px;
    padding: 28px  0;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0, .2);    box-shadow: 0 0 5px rgba(0,0,0, .2);
    

}
.about-item span{
    font-size: 25px;
    display: inline-block;
    
}
.about-item h3{
    font-size: 20px;
    margin-bottom: 10px;

}
.about-item hr{
    width: 60px;
    height:  3px;
    background-color: gold;
    border: none;
    margin: 0 auto;
    
    
}
.about-item p{
    margin-top: 20px;
    font-family: sans-serif;
    text-align: justify;
    margin:  10px 10px 0px;
}
.about-item:hover{
    background-color: lightgray;
    color: #fff;
    
}
.about-item:hover span{
    color: #fff;
    -webkit-transform: translateY(-15px);    transform: translateY(-15px);
    
}
.about-item:hover hr{
    background-color: #fff; 

}
.about-item,
.about-item span,
.about-item hr
{
    -webkit-transition: all .4s ease-in-out;    transition: all .4s ease-in-out;   
}
#service-information{
    padding: 80px;
}
#service-information h2{
    color: blue;
    text-transform: uppercase;
    font-weight: 600;
}
#service-information h2:hover{
    color: gold;
    transform: translateY(-20px);
}

#service-information p{
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
}
#service-information hr{
    width: 150px;
    height:  3px;
    background-color: firebrick;
    border: none;
    margin: 0 auto;
    color: gold;
  
}
#services{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/ss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 100%;
}
.services{
    margin: 90px auto;
}
.services h2{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.services hr{
    width: 150px;
    height:  3px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    color: #fff;
    
  
}
.icon{
    font-size: 40px;
    margin: 30px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
    color: ;
    
}
.icon:hover{
   color: gold; 
    
    
}
#services p{
    text-align: justify;
}
.col-md-3:hover{
    color: #fff;
    box-shadow: 3px 1px 1px -8px rgba(255,255,255,0.6);
    box-shadow: -8px 1px 15px 5px rgba(255,255,255,0.6);
     border-radius: 15px;
    transform: translateY(-30px);
}
.vertical-heading{
   margin-top: 80px;
    margin-bottom: 50px;

}
.vertical-heading h5{
     color: orange;
     font-size: 25px;
     font-weight: 600;
     text-transform: uppercase;
     word-spacing: 8px;
     display: inline-block;
     -webkit-transform: rotate(-90deg);
     transform: rotate(-90deg);
     position: relative;
         top:80px;
          left: -84px;
}
#Portfolia .vertical-heading h5{
     color: orange;
     font-size: 25px;
     font-weight: 600;
     text-transform: uppercase;
     word-spacing: 8px;
     display: inline-block;
     -webkit-transform: rotate(-90deg);
     transform: rotate(-90deg);
     position: relative;
         top:80px;
          left: -106px;
}

.vertical-heading h2{
     color: blue;
      font-size: 44px;
       word-spacing: 8px;
       padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.grid .col-md-3{
    padding: 0px;
    position: relative;

}
.portfolio-item-overlay{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
      top: 0;
    bottom: 0;
    left: 0;
    right:0;
    cursor: zoom-in;
    opacity: 0;
    border-radius: 10px;
    
}
.portfolio-item-details{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1; 
}
#contact-left p{
    margin: 25px 0;
}
#office h4{
    color: gold;
}
#office ul.office-details{
    list-style: none;
    padding: 0;
}
#office ul.office-details li{
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 12px;
}
#office ul.office-details li span{
    display: inline-block;
    font-size: 14px;
    width: 30px;
}

#contact-right{
    padding: 25px 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2 );    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2 );
    border-radius: 7px;
     margin-top: 50px;
    background-color: rgba(0,0,0,0.6);
        
}
#contact-right p{
    margin-bottom: 26px;
    color: #fff;
}
#contact-right form .form-control{
    font-family: 'jost';
    margin-bottom: 18px;
    padding: 10px 12px;
    border-radius: 15px;
    box-shadow: 5px 1px 10px 0 solid white;
}
#contact-right form textarea.form-control{
    min-height: 140px;
    border-radius: 15px;
        box-shadow: 5px 1px 10px 0 rgba(0,0,0,0.1);
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 5px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border-radius: 60px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1); 
    transform: all 0.3s ease-out;
    
    
}
.button:hover {
    width: 200px;
}
.button .icon1{
    height: 60px;
    width: 60x;
    box-sizing: border-box;
    line-height: 10px;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    
}
.wrapper .button .icon1 i{
    font-size: 45px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.button span{
    font-size: 25px;
    font-weight: 500;
    line-height: 0px;
    margin-left: 15px;
     color: #fff;
    padding-top: 20px;
}
.button  span:hover{
    color: black;
}
.button:hover .icon1{
    color: #fff;
}
#contact-btn .btn-general{
    background: #fff;
    border-radius: 35px;
    width: 20%;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
} 
.wrapper .button:nth-child(1):hover .icon1{
    background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon1{
    background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon1{
    background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon1{
    background: #ff0000;
}
.wrapper .button:nth-child(5):hover .icon1{
    background: #333;
}


footer{
    background-color: gray;
    padding: 30px;  
}
footer p{
    color: #fff;
    margin: 0;
    line-height: 20px;
}
footer p span{
    color: gold;
    font-size: 16px;
}
#back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    padding: 0 18px;
    border-radius: 28px;
    background-color: gold;
    display: none;
}
